In [1]:
# CREATE AN EMPTY DATAFRAME
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
# CREAT DATAFRAME USING LIST:
import pandas as pd
x = ["rohit","pandas"]
df =pd.DataFrame(x)
print(df)

        0
0   rohit
1  pandas

In [5]:
# CREAT A DATAFRAME FROM DIST OF ANARRAY LIST:
import pandas as pd
cd={"ID":[100,101,102],'Department':['B.sc','B.tech','M.tech']}
df=pd.DataFrame(cd)
print(df)

    ID Department
0  100       B.sc
1  101     B.tech
2  102     M.tech

In [9]:
# CREAT DATAFRAME FROM DIST OF SERIES:
import pandas as pd
df={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d2=pd.DataFrame(df)
print(d2)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [10]:
import pandas as pd
df={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d2=pd.DataFrame(df)
print(d2['one'])

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    NaN
h    NaN
Name: one, dtype: float64

In [11]:
# THE BELOW CODE DEMONSTRATES HOW TO ADD ANY NEW COLUMN TO AN EXISTING DATAFRAME:
import pandas as pd
df={'one':pd.Series([1,2,3,4,5],index=['a','b','c','d','e',]),'two':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
d2=pd.DataFrame(df)
print("add new columan by passing serise :")
d2['three']=pd.Series([20,60,80],index=['a','b','c'])
print(d2)
print("add new column using existing DataFrame columns")
d2['four']=d2['one']+d2['three']
print(d2)

add new columan by passing serise :
   one  two  three
a  1.0    1   20.0
b  2.0    2   60.0
c  3.0    3   80.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN
add new column using existing DataFrame columns
   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   60.0  62.0
c  3.0    3   80.0  83.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  NaN    6    NaN   NaN

In [13]:
import pandas as pd
df={'one':pd.Series([3,8],index=['a','b']),'two':pd.Series([1,2,3],index=['a','b','c'])}
d2=pd.DataFrame(df)
print("The DataFrame :")
print(d2)
print("Delete the first column :")
del d2['one']
print(d2)
print("Delete the anothe column:")
d2.pop('two')
print(d2)

The DataFrame :
   one  two
a  3.0    1
b  8.0    2
c  NaN    3
Delete the first column :
   two
a    1
b    2
c    3
Delete the anothe column:
Empty DataFrame
Columns: []
Index: [a, b, c]

In [14]:
import pandas as pd
df={'one':pd.Series([1,2,3,4,5],index=['a','b','c','d','e']),'two':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
d2=pd.DataFrame(df)
print(d2.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [16]:
#SELECTION BY INTEGER LOCATION:
import pandas as pd
df={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d2=pd.DataFrame(df)
print(d2.iloc[4])

one    5.0
two    5.0
Name: e, dtype: float64

In [17]:
# SLICE ROWS:
import pandas as pd
df={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d2=pd.DataFrame(df)
print(d2[3:5])

   one  two
d  4.0    4
e  5.0    5

In [18]:
# ADDITION OF ROWS :
import pandas as pd
d=pd.DataFrame([[4,5],[7,8]],columns = ['x','y'])
d2 = pd.DataFrame([[12,13],[14,15]],columns =['x','y'])
d=d.append(d2)
print(d)

    x   y
0   4   5
1   7   8
0  12  13
1  14  15

<ipython-input-18-8861ca1642c9>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d=d.append(d2)

In [22]:
# DELETION ROWS:
import pandas as pd
a_d2=pd.DataFrame([[2,3],[4,6]],columns = ['x','y'])
a_d2 = pd.DataFrame([[10,11],[12,14]],columns =['x','y'])
a_d2=d2.append(a_d2)
a_d2=a_d2.drop(0)

<ipython-input-22-fabe04a7e461>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a_d2=d2.append(a_d2)